:root {
  font-family: "Open Sans", sans-serif;

}
body {
  background-color: #F5F4F0;
  border: #d9d9d9;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;  
}
h3 {
  font-size: 28px;
  font-weight: bold;
}


.head {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
}
