:root {
  font-family: "Open Sans", sans-serif;

}
body {
  background-color: #F5F4F0;
  border: #d9d9d9;
  margin: 80px 80px 88px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;  
}
h3 {
  font-size: 28px;
  font-weight: bold;
}


.head {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
}
.header { 
  margin: 88px 80px 40;
}
.h1s {
  margin-top: 8px;
}
img {
  width: 100%;
  margin-bottom: 20px;
}
.pontos-turismo {
  margin-bottom: 48px;
}
footer {
  margin: 68px;
  text-align: center;
}